# Summary

A. [Getting datasets](#A.-Getting-data)
- text files stored locally
- text files from a website

B. [Cleaning and transforming datasets](#B.-Cleaning-and-transforming-data)
- Inspecting the data frame
- Selecting a subset of a data frame
- Augmenting a data frame with additional columns/rows (or replacing existing columns/rows)
- Dealing with missing values
- Converting between the wide and long forms of a data frame
- Sorting a data frame

C. [Exploring and visualizing datasets](#C.-Exploring-and-visualizing)
- Summary statistics and frequencies
- Scatter plots & regression lines
- Histograms & density lines
- Boxplots & barplots with error bars

# A. Getting data

Data can come from different sources, e.g.:
- text files stored locally (with different extensions, e.g., `.txt` or `.csv`)
- text files from a website

#### Different functions to read data from file:
- `read.table` is the principal and more general means of reading tabular data into R
- `read.csv` sets the default separator to a comma, and assumes that the data has a header row
- `read.csv2` is its European cousin, using a comma for decimal places and a semicolon as a separator
- `read.delim` and `read.delim2` import tab-delimited files with full stops or commas for decimal places, respectively

#### Main arguments that you might want to tweak:
- `header` are the names of the variables its first line?
- `sep` how are the values separated?
- `dec` how are the decimals coded? (dots or commas)
- `na.strings` how are the missing values coded?

In [1]:
# Example of tab delimitated data
data <- read.table('~/git/RcourseSpring2019/data/data_taskA.txt')
head(data)

  participant gender age options accuracy RT_msec
1 8           male   18  CD      1        2381
2 8           male   18  CD      1        1730
3 8           male   18  AB      1        1114
4 8           male   18  AC      1         600
5 8           male   18  CD      1         683
6 8           male   18  AC      0         854

In [8]:
# Example of comma delimitated data, with header as first line
data <- read.table('~/git/RcourseSpring2019/data/data_wpa4.csv', 
                   sep=',',
                   header=TRUE)
head(data)

  id                gender age income p1 p2 p3 p4 p5 p6 p7 p8 p9 p10 task
1 R_3PtNn51LmSFdLNM 2      26  7      1  1  1  1  1  1  1  1  1  1   0
2 R_2AXrrg62pgFgtMV 2      32  4      1  1  1  1  1  1  1  1  1  1   0
3 R_cwEOX3HgnMeVQHL 1      25  2      0  1  1  1  1  1  1  1  0  0   0
4 R_d59iPwL4W6BH8qx 1      33  5      1  1  1  1  1  1  1  1  1  1   0
5 R_1f3K2HrGzFGNelZ 1      24  1      1  1  0  1  1  1  1  1  1  1   1
6 R_3oN5ijzTfoMy4ca 1      22  2      1  1  0  0  1  1  1  1  0  1   0
  havemore haveless pcmore
1 NA       50       50
2 NA       25       75
3 NA       10       90
4 NA       50       50
5 99       NA       99
6 NA       20       80

In [11]:
# Example of ; delimitated data, with header as first line
data <- read.table('~/git/RcourseSpring2019/data/student-por.csv',
                   sep=';',
                   header=TRUE)
head(data)

  school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     ⋯ famrel
1 GP     F   18  U       GT3     A       4    4    at_home  teacher  ⋯ 4
2 GP     F   17  U       GT3     T       1    1    at_home  other    ⋯ 5
3 GP     F   15  U       LE3     T       1    1    at_home  other    ⋯ 4
4 GP     F   15  U       GT3     T       4    2    health   services ⋯ 3
5 GP     F   16  U       GT3     T       3    3    other    other    ⋯ 4
6 GP     M   16  U       LE3     T       4    3    services other    ⋯ 5
  freetime goout Dalc Walc health absences G1 G2 G3
1 3        4     1    1    3      4         0 11 11
2 3        3     1    1    3      2         9 11 11
3 3        2     2    3    3      6        12 13 12
4 2        2     1    1    5      0        14 14 14
5 3        2     1    2    5      0        11 13 13
6 4        2     1    2    5      6        12 12 13

In [12]:
# Example of data from github (remember to get the raw data first):
data <- read.csv('https://raw.githubusercontent.com/laurafontanesi/RcourseSpring2019/master/data/matthews_demographics.csv',
                 )
head(data)

# Try out on your own with data from: https://github.com/BuzzFeedNews/zika-data/tree/master/data/parsed

  X id                height race
1 1 R_2zOA03wY3kZPHKj 182    black
2 2 R_1f30AbYQR0D1wpt 184    white
3 3 R_2YgEERKijE2Hz6K 175    hispanic
4 4 R_1CdL2n22srUR26d 177    white
5 5 R_1HnsqBRimnKphfg 187    white
6 6 R_12PUXbJhfNF9GAE 178    white

In [13]:
# How to first download a file and then load it in R:
data_url <- "http://samplecsvs.s3.amazonaws.com/Sacramentorealestatetransactions.csv"
local_file_location <- "~/git/RcourseSpring2019/data/Sacramentorealestatetransactions.csv"

download.file(data_url, local_file_location)

data <- read.csv(local_file_location)
head(data)

  street             city       zip   state beds baths sq__ft type
1 3526 HIGH ST       SACRAMENTO 95838 CA    2    1      836   Residential
2 51 OMAHA CT        SACRAMENTO 95823 CA    3    1     1167   Residential
3 2796 BRANCH ST     SACRAMENTO 95815 CA    2    1      796   Residential
4 2805 JANETTE WAY   SACRAMENTO 95815 CA    2    1      852   Residential
5 6001 MCMAHON DR    SACRAMENTO 95824 CA    2    1      797   Residential
6 5828 PEPPERMILL CT SACRAMENTO 95841 CA    3    1     1122   Condo
  sale_date                    price latitude longitude
1 Wed May 21 00:00:00 EDT 2008 59222 38.63191 -121.4349
2 Wed May 21 00:00:00 EDT 2008 68212 38.47890 -121.4310
3 Wed May 21 00:00:00 EDT 2008 68880 38.61830 -121.4438
4 Wed May 21 00:00:00 EDT 2008 69307 38.61684 -121.4391
5 Wed May 21 00:00:00 EDT 2008 81900 38.51947 -121.4358
6 Wed May 21 00:00:00 EDT 2008 89921 38.66260 -121.3278

# B. Cleaning and transforming data

Much of the task of cleaning data involves manipulating data frames to get them into the desired form:

0. Inspecting the data frame
1. Selecting a subset of a data frame
2. Augmenting a data frame with additional columns/rows (or replacing existing columns/rows)
3. Dealing with missing values
4. Converting between the wide and long forms of a data frame
5. Sorting a data frame

## 1. Inspecting the data frame

In [14]:
# Create a fake data.frame
N = 25
fake_data <- data.frame(
    participant = 1:N,
    risk_parameter = round(rgamma(N, 1, 1), 1)
)

fake_data[fake_data$risk_parameter > 1, "risk_preference"] = "risk_seeking"
fake_data[fake_data$risk_parameter < 1, "risk_preference"] = "risk_avoidant"
fake_data[fake_data$risk_parameter == 1, "risk_preference"] = "risk_neutral"

fake_data$age = round(22 + rnorm(N, -fake_data$risk_parameter, .8))

fake_data

   participant risk_parameter risk_preference age
1   1          0.6            risk_avoidant   21
2   2          1.3            risk_seeking    21
3   3          0.6            risk_avoidant   20
4   4          0.7            risk_avoidant   21
5   5          0.1            risk_avoidant   21
6   6          1.2            risk_seeking    22
7   7          0.7            risk_avoidant   22
8   8          0.6            risk_avoidant   20
9   9          0.4            risk_avoidant   22
10 10          1.7            risk_seeking    19
11 11          0.5            risk_avoidant   21
12 12          0.5            risk_avoidant   21
13 13          0.0            risk_avoidant   21
14 14          0.5            risk_avoidant   21
15 15          1.2            risk_seeking    22
16 16          0.6            risk_avoidant   22
17 17          0.8            risk_avoidant   22
18 18          2.8            risk_seeking    19
19 19          0.3            risk_avoidant   21
20 20          0.9            risk_avoidant   21
21 21          1.1            risk_seeking    22
22 22          0.7            risk_avoidant   22
23 23          0.3            risk_avoidant   21
24 24          1.3            risk_seeking    21
25 25          0.4            risk_avoidant   21

In [17]:
dim(fake_data)[2]

[1] 4

In [15]:
# Get the row and columns names, and the number of rows and columns:
dimnames(fake_data)
dim(fake_data)

[[1]]
 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10" "11" "12" "13" "14" "15"
[16] "16" "17" "18" "19" "20" "21" "22" "23" "24" "25"

[[2]]
[1] "participant"     "risk_parameter"  "risk_preference" "age"

[1] 25  4

In [18]:
# Careful that:
length(fake_data)

[1] 4

In [19]:
# Inspect head and tail:
head(fake_data)
tail(fake_data)

  participant risk_parameter risk_preference age
1 1           0.6            risk_avoidant   21
2 2           1.3            risk_seeking    21
3 3           0.6            risk_avoidant   20
4 4           0.7            risk_avoidant   21
5 5           0.1            risk_avoidant   21
6 6           1.2            risk_seeking    22

   participant risk_parameter risk_preference age
20 20          0.9            risk_avoidant   21
21 21          1.1            risk_seeking    22
22 22          0.7            risk_avoidant   22
23 23          0.3            risk_avoidant   21
24 24          1.3            risk_seeking    21
25 25          0.4            risk_avoidant   21

In [20]:
summary(fake_data)

  participant risk_parameter  risk_preference         age
 Min.   : 1   Min.   :0.000   Length:25          Min.   :19.00
 1st Qu.: 7   1st Qu.:0.500   Class :character   1st Qu.:21.00
 Median :13   Median :0.600   Mode  :character   Median :21.00
 Mean   :13   Mean   :0.792                      Mean   :21.08
 3rd Qu.:19   3rd Qu.:1.100                      3rd Qu.:22.00
 Max.   :25   Max.   :2.800                      Max.   :22.00

## 2. Subsetting:

In [21]:
# Index a specific cell:
fake_data[6, "risk_parameter"]

# or a row:
fake_data[6,]

# or a column:
fake_data[,"risk_parameter"]

[1] 1.2

  participant risk_parameter risk_preference age
6 6           1.2            risk_seeking    22

 [1] 0.6 1.3 0.6 0.7 0.1 1.2 0.7 0.6 0.4 1.7 0.5 0.5 0.0 0.5 1.2 0.6 0.8 2.8 0.3
[20] 0.9 1.1 0.7 0.3 1.3 0.4

In [23]:
# Get rows based on a logical condition (aka Boolean indexing):
fake_data[fake_data$risk_preference == 'risk_avoidant',]

fake_data[fake_data$risk_parameter < 1,]

# and maybe select only few columns to keep:
subset(fake_data, 
       age >= 22, 
       select=c('participant', 'age'))

fake_data[fake_data$age >= 22, c('participant', 'age')]

   participant risk_parameter risk_preference age
1   1          0.6            risk_avoidant   21
3   3          0.6            risk_avoidant   20
4   4          0.7            risk_avoidant   21
5   5          0.1            risk_avoidant   21
7   7          0.7            risk_avoidant   22
8   8          0.6            risk_avoidant   20
9   9          0.4            risk_avoidant   22
11 11          0.5            risk_avoidant   21
12 12          0.5            risk_avoidant   21
13 13          0.0            risk_avoidant   21
14 14          0.5            risk_avoidant   21
16 16          0.6            risk_avoidant   22
17 17          0.8            risk_avoidant   22
19 19          0.3            risk_avoidant   21
20 20          0.9            risk_avoidant   21
22 22          0.7            risk_avoidant   22
23 23          0.3            risk_avoidant   21
25 25          0.4            risk_avoidant   21

   participant risk_parameter risk_preference age
1   1          0.6            risk_avoidant   21
3   3          0.6            risk_avoidant   20
4   4          0.7            risk_avoidant   21
5   5          0.1            risk_avoidant   21
7   7          0.7            risk_avoidant   22
8   8          0.6            risk_avoidant   20
9   9          0.4            risk_avoidant   22
11 11          0.5            risk_avoidant   21
12 12          0.5            risk_avoidant   21
13 13          0.0            risk_avoidant   21
14 14          0.5            risk_avoidant   21
16 16          0.6            risk_avoidant   22
17 17          0.8            risk_avoidant   22
19 19          0.3            risk_avoidant   21
20 20          0.9            risk_avoidant   21
22 22          0.7            risk_avoidant   22
23 23          0.3            risk_avoidant   21
25 25          0.4            risk_avoidant   21

   participant age
6   6          22
7   7          22
9   9          22
15 15          22
16 16          22
17 17          22
21 21          22
22 22          22

In [25]:
# Get everything apart from the first column:
head(fake_data[,-1])

# or third column:
head(fake_data[,-3])

# get specific columns based on the names:
columns_to_keep = c('participant', 'age')
head(fake_data[,columns_to_keep])

  risk_parameter risk_preference age
1 0.6            risk_avoidant   21
2 1.3            risk_seeking    21
3 0.6            risk_avoidant   20
4 0.7            risk_avoidant   21
5 0.1            risk_avoidant   21
6 1.2            risk_seeking    22

  participant risk_parameter age
1 1           0.6            21
2 2           1.3            21
3 3           0.6            20
4 4           0.7            21
5 5           0.1            21
6 6           1.2            22

  participant age
1 1           21
2 2           21
3 3           20
4 4           21
5 5           21
6 6           22

## 3. Adding columns and rows:
The usual form to add a new column is:

data.frame.name$column.name <- vector,

where the vector is either:
- length = number of rows
- lenght = 1 (in that case the same value is assigned to every row)
- lenght < number of rows, where number of rows is a multiple of length (in that case the vector is repeated until the whole column is filled)

Otherwise, you can use `cbind` and `merge`.

In [27]:
# Load some example data:
data <- read.table('~/git/RcourseSpring2019/data/data_taskA.txt')
row.names(data) <- NULL
head(data)
tail(data)

  participant gender age options accuracy RT_msec
1 8           male   18  CD      1        2381
2 8           male   18  CD      1        1730
3 8           male   18  AB      1        1114
4 8           male   18  AC      1         600
5 8           male   18  CD      1         683
6 8           male   18  AC      0         854

     participant gender age options accuracy RT_msec
3643 49          female 23  BD       1       1564
3644 49          female 23  BD       1       1383
3645 49          female 23  AC       1       1647
3646 49          female 23  AC       1        978
3647 49          female 23  CD       1       1316
3648 49          female 23  CD      NA         NA

In [28]:
# Add a column:
data$RT_sec <- data$RT_msec/1000
data$conditionA <- 'difficult'
data$conditionB <- c('difficult', 'easy')

head(data)

tail(data)

  participant gender age options accuracy RT_msec RT_sec conditionA conditionB
1 8           male   18  CD      1        2381    2.381  difficult  difficult
2 8           male   18  CD      1        1730    1.730  difficult  easy
3 8           male   18  AB      1        1114    1.114  difficult  difficult
4 8           male   18  AC      1         600    0.600  difficult  easy
5 8           male   18  CD      1         683    0.683  difficult  difficult
6 8           male   18  AC      0         854    0.854  difficult  easy

     participant gender age options accuracy RT_msec RT_sec conditionA
3643 49          female 23  BD       1       1564    1.564  difficult
3644 49          female 23  BD       1       1383    1.383  difficult
3645 49          female 23  AC       1       1647    1.647  difficult
3646 49          female 23  AC       1        978    0.978  difficult
3647 49          female 23  CD       1       1316    1.316  difficult
3648 49          female 23  CD      NA         NA       NA  difficult
     conditionB
3643 difficult
3644 easy
3645 difficult
3646 easy
3647 difficult
3648 easy

In [33]:
# But:
data$conditionC <- c('a', 'b', 'c', 'd', 'e')

ERROR: Error in `$<-.data.frame`(`*tmp*`, conditionC, value = c("a", "b", "c", : replacement has 5 rows, data has 3648

To add rows, you simply need to index a "new line" (as with adding columns), by either the row number or row name.

Otherwise, you can simply use `rbind`.

In [34]:
# Add a row with values for specific columns:
new_row <- dim(data)[1] + 1
new_row

data[new_row, c(1, 2)] <- c(50, 'female')

tail(data)

[1] 3649

     participant gender age options accuracy RT_msec RT_sec conditionA
3644 49          female 23  BD       1       1383    1.383  difficult
3645 49          female 23  AC       1       1647    1.647  difficult
3646 49          female 23  AC       1        978    0.978  difficult
3647 49          female 23  CD       1       1316    1.316  difficult
3648 49          female 23  CD      NA         NA       NA  difficult
3649 50          female NA  NA      NA         NA       NA  NA
     conditionB conditionC
3644 easy       d
3645 difficult  a
3646 easy       b
3647 difficult  c
3648 easy       d
3649 NA         NA

In [35]:
# Add a row with the same value for all columns:
new_row <- new_row + 1
new_row

data[new_row,] <- NA

tail(data)

[1] 3650

     participant gender age options accuracy RT_msec RT_sec conditionA
3645 49          female 23  AC       1       1647    1.647  difficult
3646 49          female 23  AC       1        978    0.978  difficult
3647 49          female 23  CD       1       1316    1.316  difficult
3648 49          female 23  CD      NA         NA       NA  difficult
3649 50          female NA  NA      NA         NA       NA  NA
3650 NA          NA     NA  NA      NA         NA       NA  NA
     conditionB conditionC
3645 difficult  a
3646 easy       b
3647 difficult  c
3648 easy       d
3649 NA         NA
3650 NA         NA

## 4. Missing values

In [37]:
# Remove any row containing missing values:
data_noNA <- na.omit(data)

tail(data_noNA)

nrows_with_NA <- dim(data)[1] - dim(data_noNA)[1]
nrows_with_NA

     participant gender age options accuracy RT_msec RT_sec conditionA
3642 49          female 23  CD      0        1156    1.156  difficult
3643 49          female 23  BD      1        1564    1.564  difficult
3644 49          female 23  BD      1        1383    1.383  difficult
3645 49          female 23  AC      1        1647    1.647  difficult
3646 49          female 23  AC      1         978    0.978  difficult
3647 49          female 23  CD      1        1316    1.316  difficult
     conditionB conditionC
3642 easy       b
3643 difficult  c
3644 easy       d
3645 difficult  a
3646 easy       b
3647 difficult  c

[1] 68

In [40]:
# Remove any row contanining missed participant number:
data_noNA_participant <- data[!is.na(data$participant),]

tail(data_noNA_participant)

nrows_with_NA_participant <- dim(data)[1] - dim(data_noNA_participant)[1]
nrows_with_NA_participant

     participant gender age options accuracy RT_msec RT_sec conditionA
3644 49          female 23  BD       1       1383    1.383  difficult
3645 49          female 23  AC       1       1647    1.647  difficult
3646 49          female 23  AC       1        978    0.978  difficult
3647 49          female 23  CD       1       1316    1.316  difficult
3648 49          female 23  CD      NA         NA       NA  difficult
3649 50          female NA  NA      NA         NA       NA  NA
     conditionB conditionC
3644 easy       d
3645 difficult  a
3646 easy       b
3647 difficult  c
3648 easy       d
3649 NA         NA

[1] 1

In [42]:
# Remove any column containing missing values (in this case it doesn't make much sense, but might be useful to know):
which_NAs <- apply(
    X = is.na(data_noNA_participant),
    MARGIN = 2,
    FUN = sum
)

data_noNA_participant <- data_noNA_participant[,which_NAs == 0]

head(data_noNA_participant)

  participant gender
1 8           male
2 8           male
3 8           male
4 8           male
5 8           male
6 8           male

## 5. Converting between the wide and long forms of a data frame

The data shown before are in the **long** format: repeated measurements from each participants are stored in different rows. This format is relatively common in cognitive psychology, as we often present participants with tasks in which they have to provide multiple responses for the same item/condition.

Another common format is the **wide** format: here, participants' repeated responses will be in a single row, and each response is in a separate column.

In [44]:
# Create fake data:
N = 10
mean_score_students = runif(N, 5, 10)
fake_data_wide <- data.frame(
    student = 1:N,
    age = round(rnorm(N, 30, 5)),
    score_WPA1 = mean_score_students,
    score_WPA2 = mean_score_students*0.9 + rnorm(N, 0, 0.1),
    score_WPA3 = mean_score_students*0.5 + rnorm(N, 0, 1),
    score_WPA4 = mean_score_students*0.7 + rnorm(N, 0, 0.2)
)

fake_data_wide

   student age score_WPA1 score_WPA2 score_WPA3 score_WPA4
1   1      33  7.465305   6.566121   2.428329   5.070700
2   2      25  5.563230   5.077531   2.900265   3.405148
3   3      26  8.391329   7.632993   2.467448   6.202602
4   4      27  8.315804   7.448699   3.562714   5.930934
5   5      28  8.059461   7.015749   1.933812   5.815380
6   6      34  8.104104   7.270133   5.396254   5.369029
7   7      26  8.651319   7.681615   4.601520   5.767613
8   8      31  6.460707   5.705090   4.969605   4.314259
9   9      34  8.748730   7.707122   4.125574   5.997675
10 10      30  7.301819   6.364615   2.710512   5.084473

In [45]:
# Load library reshape2 to easily transform to long format:
library(reshape2)
fake_data_long <- melt(fake_data_wide, id.vars = "student", measure.vars = c("score_WPA1", "score_WPA2", "score_WPA3", "score_WPA4"))

# Re-order based on student number:
fake_data_long[order(fake_data_long$student),]

   student variable   value
1   1      score_WPA1 7.465305
11  1      score_WPA2 6.566121
21  1      score_WPA3 2.428329
31  1      score_WPA4 5.070700
2   2      score_WPA1 5.563230
12  2      score_WPA2 5.077531
22  2      score_WPA3 2.900265
32  2      score_WPA4 3.405148
3   3      score_WPA1 8.391329
13  3      score_WPA2 7.632993
23  3      score_WPA3 2.467448
33  3      score_WPA4 6.202602
4   4      score_WPA1 8.315804
14  4      score_WPA2 7.448699
24  4      score_WPA3 3.562714
34  4      score_WPA4 5.930934
5   5      score_WPA1 8.059461
15  5      score_WPA2 7.015749
25  5      score_WPA3 1.933812
35  5      score_WPA4 5.815380
6   6      score_WPA1 8.104104
16  6      score_WPA2 7.270133
26  6      score_WPA3 5.396254
36  6      score_WPA4 5.369029
7   7      score_WPA1 8.651319
17  7      score_WPA2 7.681615
27  7      score_WPA3 4.601520
37  7      score_WPA4 5.767613
8   8      score_WPA1 6.460707
18  8      score_WPA2 5.705090
28  8      score_WPA3 4.969605
38  8      score_WPA4 4.314259
9   9      score_WPA1 8.748730
19  9      score_WPA2 7.707122
29  9      score_WPA3 4.125574
39  9      score_WPA4 5.997675
10 10      score_WPA1 7.301819
20 10      score_WPA2 6.364615
30 10      score_WPA3 2.710512
40 10      score_WPA4 5.084473

In [46]:
# To go back to wide format, use dcast and acast (see the difference):
dcast(
    fake_data_long,
    student ~ variable
     )

acast(
    fake_data_long,
    student ~ variable
     )

   student score_WPA1 score_WPA2 score_WPA3 score_WPA4
1   1      7.465305   6.566121   2.428329   5.070700
2   2      5.563230   5.077531   2.900265   3.405148
3   3      8.391329   7.632993   2.467448   6.202602
4   4      8.315804   7.448699   3.562714   5.930934
5   5      8.059461   7.015749   1.933812   5.815380
6   6      8.104104   7.270133   5.396254   5.369029
7   7      8.651319   7.681615   4.601520   5.767613
8   8      6.460707   5.705090   4.969605   4.314259
9   9      8.748730   7.707122   4.125574   5.997675
10 10      7.301819   6.364615   2.710512   5.084473

   score_WPA1 score_WPA2 score_WPA3 score_WPA4
1  7.465305   6.566121   2.428329   5.070700
2  5.563230   5.077531   2.900265   3.405148
3  8.391329   7.632993   2.467448   6.202602
4  8.315804   7.448699   3.562714   5.930934
5  8.059461   7.015749   1.933812   5.815380
6  8.104104   7.270133   5.396254   5.369029
7  8.651319   7.681615   4.601520   5.767613
8  6.460707   5.705090   4.969605   4.314259
9  8.748730   7.707122   4.125574   5.997675
10 7.301819   6.364615   2.710512   5.084473

In [47]:
# What if you just want to have the unique value per participant of 1 variable, e.g., age? 

# When data is in the wide format:
age_df <- aggregate(age ~ student, data = fake_data_wide, FUN=unique)
age_df

   student age
1   1      33
2   2      25
3   3      26
4   4      27
5   5      28
6   6      34
7   7      26
8   8      31
9   9      34
10 10      30

In [48]:
# But it's actually the same for long format:
age_df <- aggregate(age ~ participant, data = data, FUN=unique)
age_df

   participant age
1  10          26
2  12          21
3  16          25
4  18          21
5  22          23
6  23          25
7  24          20
8  28          20
9  32          25
10 34          22
11 36          20
12 38          22
13 40          20
14 42          25
15 44          23
16 46          24
17 48          21
18 49          23
19 8           18

In [49]:
# Alternatively, we can use the dplyr package: https://dplyr.tidyverse.org/
library(dplyr)

grouped_data = group_by(data, participant)

mean_performance = summarise(grouped_data, 
                             mean_accuracy=mean(accuracy, na.rm=TRUE), 
                             mean_rt=mean(RT_sec, na.rm=TRUE), 
                             age=unique(age))

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [50]:
mean_performance

   participant mean_accuracy mean_rt   age
1  10          0.8376963     0.9775916 26
2  12          0.7326203     0.7297807 21
3  16          0.7789474     1.2329421 25
4  18          0.5156250     0.7781510 21
5  22          0.5721925     0.8690695 23
6  23          0.7027027     0.9377946 25
7  24          0.7643979     0.9938691 20
8  28          0.8376963     0.8150838 20
9  32          0.6648936     1.2098989 25
10 34          0.6178010     1.2487958 22
11 36          0.4224599     1.2123904 20
12 38          0.8994709     0.8951005 22
13 40          0.5860215     1.1931237 20
14 42          0.8052632     1.0280316 25
15 44          0.8191489     0.6165000 23
16 46          0.8750000     1.1774728 24
17 48          0.7315789     1.2159316 21
18 49          0.7287234     1.2383032 23
19 50                NaN           NaN NA
20 8           0.7914439     0.8701016 18
21 NA                NaN           NaN NA

## 6. Sorting the data frame by value:

In [51]:
# The most usual way to do this is by using the function order:
age_df[order(age_df$age),]

   participant age
19 8           18
7  24          20
8  28          20
11 36          20
13 40          20
2  12          21
4  18          21
17 48          21
10 34          22
12 38          22
5  22          23
15 44          23
18 49          23
16 46          24
3  16          25
6  23          25
9  32          25
14 42          25
1  10          26

In [52]:
# Or you can use the custom function arrange from the plyr library (easier syntax...):
library(plyr)

arrange(age_df, age)

------------------------------------------------------------------------------
You have loaded plyr after dplyr - this is likely to cause problems.
If you need functions from both plyr and dplyr, please load plyr first, then dplyr:
library(plyr); library(dplyr)
------------------------------------------------------------------------------

Attaching package: ‘plyr’

The following objects are masked from ‘package:dplyr’:

    arrange, count, desc, failwith, id, mutate, rename, summarise,
    summarize

   participant age
1  8           18
2  24          20
3  28          20
4  36          20
5  40          20
6  12          21
7  18          21
8  48          21
9  34          22
10 38          22
11 22          23
12 44          23
13 49          23
14 46          24
15 16          25
16 23          25
17 32          25
18 42          25
19 10          26

# C. Exploring and visualizing

1. Summary statistics and frequencies
2. Scatter plots & regression lines
3. Histograms & density lines
4. Boxplots & barplots with error bars

## 1. Summary statistics and frequencies:

In [53]:
data <- read.csv(local_file_location)
head(data)
summary(data)
dim(data)

  street             city       zip   state beds baths sq__ft type
1 3526 HIGH ST       SACRAMENTO 95838 CA    2    1      836   Residential
2 51 OMAHA CT        SACRAMENTO 95823 CA    3    1     1167   Residential
3 2796 BRANCH ST     SACRAMENTO 95815 CA    2    1      796   Residential
4 2805 JANETTE WAY   SACRAMENTO 95815 CA    2    1      852   Residential
5 6001 MCMAHON DR    SACRAMENTO 95824 CA    2    1      797   Residential
6 5828 PEPPERMILL CT SACRAMENTO 95841 CA    3    1     1122   Condo
  sale_date                    price latitude longitude
1 Wed May 21 00:00:00 EDT 2008 59222 38.63191 -121.4349
2 Wed May 21 00:00:00 EDT 2008 68212 38.47890 -121.4310
3 Wed May 21 00:00:00 EDT 2008 68880 38.61830 -121.4438
4 Wed May 21 00:00:00 EDT 2008 69307 38.61684 -121.4391
5 Wed May 21 00:00:00 EDT 2008 81900 38.51947 -121.4358
6 Wed May 21 00:00:00 EDT 2008 89921 38.66260 -121.3278

                street                city          zip        state
 1223 LAMBERTON CIR:  2   SACRAMENTO    :439   Min.   :95603   CA:985
 4734 14TH AVE     :  2   ELK GROVE     :114   1st Qu.:95660
 7 CRYSTALWOOD CIR :  2   LINCOLN       : 72   Median :95762
 8306 CURLEW CT    :  2   ROSEVILLE     : 48   Mean   :95751
 1 KENNELFORD CIR  :  1   CITRUS HEIGHTS: 35   3rd Qu.:95828
 10 SEA FOAM CT    :  1   ANTELOPE      : 33   Max.   :95864
 (Other)           :975   (Other)       :244
      beds           baths           sq__ft               type
 Min.   :0.000   Min.   :0.000   Min.   :   0   Condo       : 54
 1st Qu.:2.000   1st Qu.:1.000   1st Qu.: 952   Multi-Family: 13
 Median :3.000   Median :2.000   Median :1304   Residential :917
 Mean   :2.912   Mean   :1.777   Mean   :1315   Unkown      :  1
 3rd Qu.:4.000   3rd Qu.:2.000   3rd Qu.:1718
 Max.   :8.000   Max.   :5.000   Max.   :5822

                        sale_date       price           latitude
 Fri May 16 00:00:00 EDT 2008:264   Min.   :  1551   Min.   :38.24
 Mon May 19 00:00:00 EDT 2008:268   1st Qu.:145000   1st Qu.:38.48
 Thu May 15 00:00:00 EDT 2008:118   Median :213750   Median :38.63
 Tue May 20 00:00:00 EDT 2008:177   Mean   :234144   Mean   :38.61
 Wed May 21 00:00:00 EDT 2008:158   3rd Qu.:300000   3rd Qu.:38.70
                                    Max.   :884790   Max.   :39.02

   longitude
 Min.   :-121.6
 1st Qu.:-121.4
 Median :-121.4
 Mean   :-121.4
 3rd Qu.:-121.3
 Max.   :-120.6

[1] 985  12

In [54]:
# The single functions for the summary statistics above would be:
range(data$price)
min(data$price)
max(data$price)

quantile(data$price, c(.25, .5, .75))

median(data$price)

mean(data$price)

[1]   1551 884790

[1] 1551

[1] 884790

   25%    50%    75%
145000 213750 300000

[1] 213750

[1] 234144.3

In [55]:
# IQR wraps quantile to give the interquartile range (the 75th percentile minus the 25th percentile):
IQR(data$price)

[1] 155000

In [56]:
# You can use with to make the syntax a bit more digestible:
with(data, mean(price))

[1] 234144.3

In [57]:
# Careful that:
colMeans(data)

ERROR: Error in colMeans(data): 'x' must be numeric

In [58]:
# So you should only select numerical variables:
colMeans(data[,c('beds', 'baths', 'sq__ft', 'price')])

        beds        baths       sq__ft        price
2.911675e+00 1.776650e+00 1.314917e+03 2.341443e+05

In [61]:
# A more general function is apply, that lets you apply any function to either columns or rows of a dataframe:
apply(
    data[,c('beds', 'baths', 'sq__ft', 'price')],
    MARGIN = 2, # 2 is for columns, 1 is for rows
    FUN = mean
)

apply(
    data[,c('beds', 'baths', 'sq__ft', 'price')],
    MARGIN = 2, # 2 is for columns
    FUN = sd
)

        beds        baths       sq__ft        price
2.911675e+00 1.776650e+00 1.314917e+03 2.341443e+05

        beds        baths       sq__ft        price
1.307932e+00 8.953714e-01 8.530482e+02 1.383658e+05

In [62]:
# Similarly, for frequencies:
table(data)

ERROR: Error in table(data): attempt to make a table with >= 2^31 elements

In [63]:
# Here you want to select categorical variables:
table(data[,c('city', 'type')])

                 type
city              Condo Multi-Family Residential Unkown
  ANTELOPE            1            0          32      0
  AUBURN              1            1           3      0
  CAMERON PARK        1            0           8      0
  CARMICHAEL          3            0          17      0
  CITRUS HEIGHTS      2            1          32      0
  COOL                0            0           1      0
  DIAMOND SPRINGS     0            0           1      0
  EL DORADO           0            0           2      0
  EL DORADO HILLS     0            0          23      0
  ELK GROVE           6            0         108      0
  ELVERTA             0            0           4      0
  FAIR OAKS           1            0           8      0
  FOLSOM              1            0          16      0
  FORESTHILL          0            0           1      0
  GALT                0            0          21      0
  GARDEN VALLEY       0            0           1      0
  GOLD RIVER          1            0           3      0
  GRANITE BAY         0            0           3      0
  GREENWOOD           0            0           1      0
  LINCOLN             2            0          70      0
  LOOMIS              0            0           2      0
  MATHER              0            0           1      0
  MEADOW VISTA        0            0           1      0
  NORTH HIGHLANDS     0            0          21      0
  ORANGEVALE          0            0          11      0
  PENRYN              0            0           1      0
  PLACERVILLE         0            0          10      0
  POLLOCK PINES       0            0           3      0
  RANCHO CORDOVA      1            1          26      0
  RANCHO MURIETA      0            0           3      0
  RIO LINDA           0            0          13      0
  ROCKLIN             0            0          17      0
  ROSEVILLE           7            0          41      0
  SACRAMENTO         27           10         402      0
  SHINGLE SPRINGS     0            0           0      1
  SLOUGHHOUSE         0            0           1      0
  WALNUT GROVE        0            0           1      0
  WEST SACRAMENTO     0            0           3      0
  WILTON              0            0           5      0

In [64]:
# You can also combine cut with bins, to get the frequencies per bin of a certain variable.

# For example, we can look how many properties are there depending on the squared meters, in bins of 1000:
table(cut(data$sq__ft, seq.int(0, 6000, 1000)))

    (0,1e+03] (1e+03,2e+03] (2e+03,3e+03] (3e+03,4e+03] (4e+03,5e+03]
          103           551           120            36             3
(5e+03,6e+03]
            1

In [65]:
# You can also calculate correlations and covariances:
with(data, cor(price, sq__ft))

with(data, cov(price, sq__ft))

[1] 0.333897

[1] 39410771

In [66]:
# But if you want a correlation or covariance matrix you should use:
cor_mat <- round(cor(data[,c('price', 'sq__ft', 'beds', 'baths')]), 2)
cor_mat

cov_mat <- cov(data[,c('price', 'sq__ft', 'beds', 'baths')])
cov_mat

       price sq__ft beds baths
price  1.00  0.33   0.34 0.42
sq__ft 0.33  1.00   0.68 0.67
beds   0.34  0.68   1.00 0.84
baths  0.42  0.67   0.84 1.00

       price        sq__ft       beds         baths
price  1.914511e+10 3.941077e+07 6.189717e+04 5.156353e+04
sq__ft 3.941077e+07 7.276913e+05 7.632050e+02 5.084509e+02
beds   6.189717e+04 7.632050e+02 1.710687e+00 9.833013e-01
baths  5.156353e+04 5.084509e+02 9.833013e-01 8.016900e-01

## 2. Scatter plots & regression lines:

In [ ]:
options(repr.plot.width=5, repr.plot.height=5) # this is not necessary in RStudio.

plot(x = data$sq__ft, 
     y = data$price, 
     col = rgb(.1, .1, .1, .3), 
     pch = 20,
     xlab = 'Squared feet',
     ylab = 'Price',
     bty = 'l'
    )

abline( # add regression line
    lm(price ~ sq__ft, data),
    col = 'maroon4',
    lw = 2
)

In [ ]:
# From this plot we see that there are a lot of 0 squared feet houses... 
# this does not seem to be plausible.
# Let's fit a regression without these houses.

options(repr.plot.width=5, repr.plot.height=5) # this is not necessary in RStudio.

plot(x = data$sq__ft, 
     y = data$price, 
     col = rgb(0.1, 0.1, 0.1, .3), 
     pch = 20,
     xlab = 'Squared feet',
     ylab = 'Price',
     bty = 'l'
    )



# Model 1:
lm_1 <- lm(price ~ sq__ft, data) # calculate the regression model
slope_1 <- lm_1$coefficients['sq__ft'] # extract the slope for the label positioning 
intercept_1 <- lm_1$coefficients['(Intercept)'] # extract the intercept for the label positioning 

abline( # add regression line
    lm_1,
    col = 'maroon4',
    lw = 2
)
text(x = max(data$sq__ft)*.9, # add label at the end of the regression line
     y = slope_1 * max(data$sq__ft) + intercept_1, 
     "Including 0", 
     srt=0.2)



# Model 2:
lm_2 <- lm(price ~ sq__ft, data[data$sq__ft > 0,]) # calculate the regression model
slope_2 <- lm_2$coefficients['sq__ft'] # extract the slope for the label positioning 
intercept_2 <- lm_2$coefficients['(Intercept)'] # extract the intercept for the label positioning

abline( # add regression line
    lm_2,
    col = 'maroon1',
    lw = 2
)
text(x = max(data$sq__ft)*.9,  # add label at the end of the regression line
     y = slope_2 * max(data$sq__ft) + intercept_2, 
     "Excluding 0", 
     srt=0.2)

In [ ]:
# Good checks to do: residual plot
options(repr.plot.width=10, repr.plot.height=5) # this is not necessary in RStudio.

# First calculate the residuals for both models
residuals_1 <- resid(lm_1)
residuals_2 <- resid(lm_2)

# We should change the layout: we want now the two models' residuals next to each other.
# We can use the mfrow argument in the par function, that is a general plotting function for changing standard
# plotting parameters. This means that we should always remember to change it back to the default at the 
# end of the plotting.
par(mfrow = c(1, 2))

plot(x = data[, 'sq__ft'], 
     y = residuals_1, 
     col = rgb(0.1, 0.1, 0.1, .3), 
     pch = 20,
     main = 'Including 0',
     xlab = 'Squared feet',
     ylab = 'Residuals',
     bty = 'l'
    )
abline(h=0, lty=3) # plot a dotted horizontal line at 0

plot(x = data[data$sq__ft > 0, 'sq__ft'], 
     y = residuals_2, 
     col = rgb(0.1, 0.1, 0.1, .3), 
     pch = 20,
     main = 'Excluding 0',
     xlab = 'Squared feet',
     ylab = 'Residuals',
     bty = 'l'
    )
abline(h=0, lty=3) # plot a dotted horizontal line at 0

# Reset layout:
par(mfrow = c(1, 1))

In [ ]:
# The residuals do not seem to be exactly normally distributed.
# Let's try to log transform the data (both x and y).

options(repr.plot.width=5, repr.plot.height=5) # this is not necessary in RStudio.

data_excluding0 = data[data$sq__ft > 0,]
data_excluding0$log_price = log(data_excluding0$price)
data_excluding0$log_sq__ft = log(data_excluding0$sq__ft)

plot(x = data_excluding0$log_sq__ft, 
     y = data_excluding0$log_price, 
     col = rgb(0.1, 0.1, 0.1, .3), 
     pch = 20,
     xlab = 'Log squared feet',
     ylab = ' Log price',
     bty = 'l',
     log = 'xy'
    )

In [ ]:
# Although the data seem now much more suitable for linear regression, there seem to be an outlier:
data_excluding0[data_excluding0$log_price < 10,]

# Because a a price of 2000 also seems quite unrealistic, we can just exclude this property:
data_excluding0 <- data_excluding0[data_excluding0$log_price > 10,]

In [ ]:
# Let's try again, this time refitting the regression and checking the residuals:

options(repr.plot.width=10, repr.plot.height=5) # this is not necessary in RStudio.

par(mfrow = c(1, 2))

plot(x = data_excluding0$log_sq__ft, 
     y = data_excluding0$log_price, 
     col = rgb(0.1, 0.1, 0.1, .3), 
     pch = 20,
     xlab = 'Log squared feet',
     ylab = ' Log price',
     bty = 'l',
    )

lm_3 <- lm(log_price ~ log_sq__ft, data_excluding0) # calculate the regression model
residuals_3 <- resid(lm_3) # calculate residuals

abline( # add regression line
    lm_3,
    col = 'maroon',
    lw = 2
)

plot(x = data_excluding0$log_sq__ft, 
     y = residuals_3, 
     col = rgb(0.1, 0.1, 0.1, .3), 
     pch = 20,
     xlab = 'Log squared feet',
     ylab = 'Residuals',
     bty = 'l'
    )
abline(h=0, lty=3) # plot a dotted horizontal line at 0

par(mfrow = c(1, 1))

# Much better!

In [ ]:
# Lastly, we might want to now represent a third variable as a color code, e.g., the number of bathrooms:

# And now let's plot a scatter plot where the color indicates the number of bathrooms:
options(repr.plot.width=5, repr.plot.height=5) # this is not necessary in RStudio.

plot(x = data_excluding0$log_sq__ft, 
     y = data_excluding0$log_price, 
     col = data_excluding0$baths, 
     pch = 20,
     xlab = 'Log squared feet',
     ylab = ' Log price',
     bty = 'l',
    )

In [ ]:
# The colors are not the best :D
# Here some code to make it slightly more pleasing to the eyes:

options(repr.plot.width=4, repr.plot.height=3) # this is not necessary in RStudio.

# Let's first build a palette with number of colors the levels in he baths variable:
colors <- c()
gradient <- 0
for (c in unique(data_excluding0$baths)) {
    colors <- c(colors, rgb(gradient, .1, gradient, .3))
    gradient <- gradient + .25
}

# And show the palette (just for fun):
image(1:length(colors), 
      1, 
      as.matrix(1:length(colors)), 
      col=colors,
      main = 'Number of bathrooms',
      xlab="", ylab = "", xaxt = "n", yaxt = "n", bty = "n")

for (c in unique(data_excluding0$baths)) {
    text(c, 1, c)
}

# Now we assign a color to each data point based on the palette we created:
zcolor <- colors[data_excluding0$baths]

# And now let's plot a scatter plot where the color indicates the number of bathrooms:
options(repr.plot.width=5, repr.plot.height=5) # this is not necessary in RStudio.

plot(x = data_excluding0$log_sq__ft, 
     y = data_excluding0$log_price, 
     col = zcolor, 
     pch = 20,
     xlab = 'Log squared feet',
     ylab = ' Log price',
     bty = 'l',
    )

## 3. Histograms & density lines:

What we saw in this scatteplot and regression exercise, is that it is important to inspect the **distribution** of the data, before we even try to attempt to fit models (as most statistical models assume the data to be distributed in certain ways...).

In [ ]:
options(repr.plot.width=10, repr.plot.height=5) # this is not necessary in RStudio.

hist(data$sq__ft,
     main = '',
     xlab = 'Squared feet',
     breaks = 50
    )

From this plot would have been already easy to **conclude** that:
- there are a lot of data to be excluded, having 0 squared feet
- the remaining data are positively skewed (therefore might be a good idea to log transform)

You can also help the interpretation by plotting **mean** and **median** as vertical lines.

When the median is lower than the mean, we are likely to have positively skewed data:

In [ ]:
options(repr.plot.width=8, repr.plot.height=5) # this is not necessary in RStudio.

h <- hist( # assign it to variable to be able to access the frequencies
    data$sq__ft,
    main = '',
    xlab = 'Squared feet',
    breaks = 50
)

abline( # add the mean (calculated excluding the 0s)
    v=mean(data[data$sq__ft > 0, 'sq__ft']),
    col='blue3',
    lty=3,
    lw=3
      )
abline( # add the median (calculated excluding the 0s)
    v=median(data[data$sq__ft > 0, 'sq__ft']),
    col='blue3',
    lty=2,
    lw=3
      )

# To better position the legend, we can get the max frequency in the histogram:
max_frequency <- max(h$counts)

legend(
    max(data$sq__ft)*.6, 
    max_frequency, 
    legend=c("Mean", "Median"),
    col='blue3',
    lty=c(3, 2), 
    bg='white', 
    lw=3)

To better control the binning of the histograms, we should give a specific vector to the **breaks** argument, instead of just a number:

In [ ]:
options(repr.plot.width=4, repr.plot.height=4) # this is not necessary in RStudio.

# So, instead of:

hist(
    data$baths,
    main = '',
    xlab = 'Number of Bathrooms',
    breaks = 6
)

# We do:

hist(
    data$baths,
    main = '',
    xlab = 'Number of Bathrooms',
    breaks = seq(-.5, max(data$baths)+.5, 1)
)

# Not only in the top histogram there are 5 instead of the specified 6 bins, but it's unclear if the first bar
# includes 0 or also 1s...
# So always specify the breaks as a vector to increase interpretability!

Instead of the frequencies, we often want to plot **densities**.

In [ ]:
options(repr.plot.width=10, repr.plot.height=5) # this is not necessary in RStudio.

better_color <- rgb(.2, .4, .5, .3) # Già che ci siamo, we also change the color

hist(
    data_excluding0$price,
    main = '',
    xlab = 'Price',
    breaks = 50,
    freq = FALSE, # set this to false to get densities,
    col = better_color,
    border = better_color # you can change the color of the border to make it nicer...
)

# So that's good, but it's also super nice to add a density line on top of the histogram:
density_price <- density(data_excluding0$price)

better_color_denser <- rgb(.2, .4, .5, .8)

lines(
    density_price,
    lw=3,
    col= better_color_denser
    )

In [ ]:
# Sometimes we want to compare distributions with each other:
col_1 <- rgb(.5, .3, .2, .3)
col_2 <- rgb(.2, .5, .2, .3)

breaks <- seq(min(data_excluding0$price), max(data_excluding0$price)*1.1, 50000)

options(repr.plot.width=10, repr.plot.height=6) # this is not necessary in RStudio.

hist(
    data_excluding0$price[data_excluding0$beds <= 3],
    main = '',
    xlab = 'Price',
    breaks = breaks,
    freq = FALSE,
    col = col_1,
    border = col_1
)

hist(
    data_excluding0$price[data_excluding0$beds > 3],
    main = '',
    xlab = 'Price',
    breaks = breaks,
    freq = FALSE,
    col = col_2,
    border = col_2,
    add = TRUE # set this to true to overlap!
)

legend('topright', 
       legend = c("Up to 3", "More than 3"), 
       col = c(col_1, col_2), 
       pch = c(15, 15))

lines(
    density(data_excluding0$price[data_excluding0$beds <= 3]),
    lw=3,
    col= col_1
    )

lines(
    density(data_excluding0$price[data_excluding0$beds > 3]),
    lw=3,
    col= col_2
    )

## 4. Boxplots & barplots with error bars:

The plots above are very good when we have continuous variables. Often though, we have continuous measurements for different experimental conditions, or groups of subjects, etc. With 2 or 3 levels of such variables, it's still relatively convenient to plot overlapping histograms or density lines alone. But when the number of levels increases, we might want to switch to **boxplots**:

In [ ]:
options(repr.plot.width=6, repr.plot.height=5) # this is not necessary in RStudio.

# Example:
boxplot(
    price ~ baths, 
    data = data_excluding0,
    xlab = 'Number of bathrooms',
    ylab = 'Price'
)

In the plot above, it is not necessarily clear how many observations we have per level of the categorical variable. To explore that, we can use **barplots**.

Remember that **barplots** are a bit more stupid than **histograms** and **boxplots**. They often require us to calculate stuff first:

In [ ]:
# How many properties are there per level of bedrooms?
table_beds <- table(data_excluding0$beds) # Calculate the y values

barplot(
    table_beds,
    col = better_color,
    border = better_color,
    ylab = 'Counts',
    xlab = 'Number of bedrooms'
)

In [ ]:
# When we have a lot of categorical variables, it's nice to make it horizontal, 
# and order it by frequency:

options(repr.plot.width=10, repr.plot.height=9) # this is not necessary in RStudio.

table_city <- table(data_excluding0$city) # Calculate the y values
table_city <- sort(table_city) # Order it by frequency

par(las=1, # make the labels horizontal
    mar=c(5.1,7.1,4.1,2.1)) # increase left margin

barplot(
    table_city,
    col = better_color,
    border = better_color,
    xlab = 'Counts',
    ylab = '',
    horiz = TRUE,
    cex.names = .6
)

**barplots** are also very flexible. Another important thing we might want to do is to for example compare the mean of X aggregated by either 1 or two independent variables.

In [ ]:
# Data retrieved from https://www.kaggle.com/ronitf/heart-disease-uci
data <- read.csv('~/git/RcourseSpring2019/data/heart.csv')
head(data)

#### One grouping variable, confidence intervals:

In [ ]:
# Plot the mean cholestoral per sex(1 = male; 0 = female), with CONFIDENCE INTERVALS:

# 1. First calculate the grouped mean, steandard deviation, and number of observations
grouped_mean <- aggregate(
    formula = chol ~ sex,
    data = data,
    FUN = mean
)

grouped_sd <- aggregate(
    formula = chol ~ sex,
    data = data,
    FUN = sd
)

grouped_n <- aggregate(
    formula = chol ~ sex,
    data = data,
    FUN = length
)

# 2. Then calculate the standard error of the grouped means:

# It is the standard deviation of the vector sampling distribution. 
# Calculated as the SD divided by the square root of the sample size. 
# By construction, SE is smaller than SD. With a very big sample size, SE tends toward 0.

grouped_se <- grouped_sd$chol / sqrt(grouped_n$chol)
grouped_se

# 3. Then calculate the confidence intervals:

# This interval is defined so that there is a specified probability that a value lies within it. 
# It is calculated as t * SE. Where t is the value of the Student’s t-distribution for a specific alpha. 
# Its value is often rounded to 1.96 (its value with a big sample size). 
# If the sample size is huge or the distribution not normal, it is better to calculate the CI using the bootstrap method.

alpha <- 0.05 # Significance level
t <- qt((1-alpha)/2 + .5, grouped_n$chol - 1)   # tend to 1.96 if sample size is big enough
grouped_ci <- t*grouped_se
grouped_ci

In [ ]:
options(repr.plot.width=5, repr.plot.height=5) # this is not necessary in RStudio.

b <- barplot(
    height = grouped_mean$chol,
    names.arg = grouped_mean$sex,
    col = better_color,
    border = better_color,
    ylim = c(0, max(grouped_mean$chol+grouped_ci)),
    xlab = 'Sex',
    ylab = 'Serum cholestoral in mg/dl'
       )

segments(
    x0 = b, 
    x1 = b, 
    y0 = grouped_mean$chol-grouped_ci, 
    y1 = grouped_mean$chol+grouped_ci, 
    lwd = 2
)

#### One grouping variable, Standard errors:

In [ ]:
# Plot the mean resting maximum heart rate per age, with STANDARD ERRORS:

# 1. First calculate the grouped mean, steandard deviation, and number of observations
grouped_mean <- aggregate(
    formula = thalach ~ age,
    data = data,
    FUN = mean
)

grouped_sd <- aggregate(
    formula = thalach ~ age,
    data = data,
    FUN = sd
)

grouped_n <- aggregate(
    formula = thalach ~ age,
    data = data,
    FUN = length
)

# 2. Then calculate the standard error of the grouped means:

grouped_se <- grouped_sd$thalach / sqrt(grouped_n$thalach)

# Eliminate the NA:
grouped_mean <- grouped_mean[!is.na(grouped_se),]
grouped_se <- grouped_se[!is.na(grouped_se)]

In [ ]:
options(repr.plot.width=9, repr.plot.height=5) # this is not necessary in RStudio.

b <- barplot(
    height = grouped_mean$thalach,
    names.arg = grouped_mean$age,
    col = better_color,
    border = better_color,
    ylim = c(0, max(grouped_mean$thalach + grouped_se)),
    xlab = 'Age',
    ylab = 'Maximum heart rate '
       )

segments(
    x0 = b, 
    x1 = b, 
    y0 = grouped_mean$thalach - grouped_se, 
    y1 = grouped_mean$thalach + grouped_se, 
    lwd = 2
)

#### Two grouping variables, confidence intervals:

In [ ]:
# 1. First calculate the grouped mean, steandard deviation, and number of observations
grouped_mean <- aggregate(
    formula = trestbps ~ sex + cp,
    data = data,
    FUN = mean
)

grouped_sd <- aggregate(
    formula = trestbps ~ sex + cp,
    data = data,
    FUN = sd
)

grouped_n <- aggregate(
    formula = trestbps ~ sex + cp,
    data = data,
    FUN = length
)

head(grouped_mean)

In [ ]:
# To feed into the barplot function, we need a table-like object, with, e.g, age as rows and sex as columns.
# We can thus use the reshape2 package for this purpose and transform our data to wide format using the function acast:

grouped_mean_wide <- acast(
    data = grouped_mean, 
    formula = sex ~ cp
)

grouped_sd_wide <- acast(
    data = grouped_sd, 
    formula = sex ~ cp
)

grouped_n_wide <- acast(
    data = grouped_n, 
    formula = sex ~ cp
)

grouped_mean_wide

In [ ]:
# 2. Then calculate the standard error of the grouped means:
grouped_se_wide <- grouped_sd_wide / sqrt(grouped_n_wide)

# 3. Then calculate the confidence intervals:

alpha <- 0.05 # Significance level
t <- qt((1-alpha)/2 + .5, grouped_n_wide - 1)   # tend to 1.96 if sample size is big enough
grouped_ci_wide <- t*grouped_se_wide

grouped_ci_wide

In [ ]:
# Eliminate NAs:
which_NAs <- apply(
    X = is.na(grouped_ci_wide),
    MARGIN = 2,
    FUN = sum
)

grouped_mean_wide <- grouped_mean_wide[,which_NAs == 0]
grouped_ci_wide <- grouped_ci_wide[,which_NAs == 0]

In [ ]:
# Now we are ready to plot:
b <- barplot(
    height = grouped_mean_wide,
    names.arg = c('typical angina', 'atypical angina', 'non-anginal pain', 'asymptomatic'),
    ylab = 'Resting blood pressure',
    xlab = 'Chest pain type',
    col = c('pink3', 'lightblue3'),
    beside = TRUE, 
    legend.text = TRUE,
    ylim = c(0, max(grouped_mean_wide + grouped_ci_wide))
)

segments(
    x0 = b,
    x1 = b,
    y0 = grouped_mean_wide - grouped_ci_wide,
    y1 = grouped_mean_wide + grouped_ci_wide,

)

#### Two grouping variables, standard errors:

In [ ]:
# 1. First calculate the grouped mean, steandard deviation, and number of observations
grouped_mean <- aggregate(
    formula = chol ~ sex + age,
    data = data,
    FUN = mean
)

grouped_sd <- aggregate(
    formula = chol ~ sex + age,
    data = data,
    FUN = sd
)

grouped_n <- aggregate(
    formula = chol ~ sex + age,
    data = data,
    FUN = length
)

head(grouped_mean)

In [ ]:
grouped_mean_wide <- acast(
    data = grouped_mean, 
    formula = sex ~ age
)

grouped_sd_wide <- acast(
    data = grouped_sd, 
    formula = sex ~ age
)

grouped_n_wide <- acast(
    data = grouped_n, 
    formula = sex ~ age
)

grouped_mean_wide

In [ ]:
# 2. Then calculate the standard error of the grouped means:
grouped_se_wide <- grouped_sd_wide / sqrt(grouped_n_wide)

In [ ]:
# Eliminate NAs:
which_NAs <- apply(
    X = is.na(grouped_se_wide),
    MARGIN = 2,
    FUN = sum
)

grouped_mean_wide <- grouped_mean_wide[,which_NAs == 0]
grouped_se_wide <- grouped_se_wide[,which_NAs == 0]

In [ ]:
# Now we are ready to plot:
b <- barplot(
    height = grouped_mean_wide,
    ylab = 'Serum cholestoral in mg/dl',
    xlab = 'Age',
    col = c('pink3', 'lightblue3'),
    beside = TRUE, 
    legend.text = TRUE,
    ylim = c(0, max(grouped_mean_wide + grouped_se_wide))
)

segments(
    x0 = b,
    x1 = b,
    y0 = grouped_mean_wide - grouped_se_wide,
    y1 = grouped_mean_wide + grouped_se_wide,

)