# R features (that make debugging a living hell)

#### Characters columns are treated like integers?

In [1]:
prova <- data.frame(
    strings = c('1', '2', '3', 'string'),
    numbers = c(1, 2, 3, 4)
)

In [2]:
prova[prova$strings == 2,]

  strings numbers
2 2       2

In [3]:
prova[prova$strings == 'string',]

  strings numbers
4 string  4

In [4]:
typeof(prova$strings)

[1] "integer"

In [5]:
class(prova$strings)

[1] "factor"

In [6]:
# Setting stringsAsFactors to false does not solve this problem!

prova <- data.frame(
    strings = c('1', '2', '3', 'string'),
    numbers = c(1, 2, 3, 4),
    stringsAsFactors = FALSE
)

prova[prova$strings == 2,]
typeof(prova$strings)
class(prova$strings)

  strings numbers
2 2       2

[1] "character"

[1] "character"

#### And this also works (amazing!):

In [7]:
prova[prova$numbers > '2',]

typeof(prova$numbers)
class(prova$numbers)

  strings numbers
3 3       3
4 string  4

[1] "double"

[1] "numeric"

#### You can index columns using abbreviations:

In [8]:
data <- data.frame(
    RT_sec = rgamma(10, 1, 1),
    participant = 1
                  )
head(data)

  RT_sec     participant
1 0.04882217 1
2 0.76840749 1
3 2.36655653 1
4 0.25774999 1
5 0.12061689 1
6 0.39925668 1

In [9]:
data$RT_

 [1] 0.04882217 0.76840749 2.36655653 0.25774999 0.12061689 0.39925668
 [7] 0.09575968 1.94961743 0.77835131 1.30779130

In [10]:
# Beware column names:

data$RT <- data$RT*2 

data$RT_msec <- data$RT*1000

head(data)

  RT_sec     participant RT         RT_msec
1 0.04882217 1           0.09764434   97.64434
2 0.76840749 1           1.53681497 1536.81497
3 2.36655653 1           4.73311307 4733.11307
4 0.25774999 1           0.51549998  515.49998
5 0.12061689 1           0.24123379  241.23379
6 0.39925668 1           0.79851337  798.51337

#### You can index stuff that does not exist without an error:

In [11]:
data[0, 'RT_sec']

numeric(0)

In [12]:
data[20, 'RT_sec']

[1] NA

#### Variable names after the dollar sign can be also quoted:

In [13]:
data[data$'RT' > 2.5,]

   RT_sec   participant RT       RT_msec
3  2.366557 1           4.733113 4733.113
8  1.949617 1           3.899235 3899.235
10 1.307791 1           2.615583 2615.583

In [14]:
data[data$RT > 2,]

   RT_sec   participant RT       RT_msec
3  2.366557 1           4.733113 4733.113
8  1.949617 1           3.899235 3899.235
10 1.307791 1           2.615583 2615.583

In [15]:
#### I am repeating myself, but:
data[data$'RT' > '2.5',]

   RT_sec   participant RT       RT_msec
3  2.366557 1           4.733113 4733.113
8  1.949617 1           3.899235 3899.235
10 1.307791 1           2.615583 2615.583

#### Argument positioning:

#### Converting from factors to numeric:
https://cran.r-project.org/doc/FAQ/R-FAQ.html#How-do-I-convert-factors-to-numeric_003f