# R features (that make debugging a living hell)

#### Characters columns are treated like integers?

In [1]:
prova <- data.frame(
    strings = c('1', '2', '3', 'string'),
    numbers = c(1, 2, 3, 4)
)

In [2]:
prova[prova$strings == 2,]

  strings numbers
2 2       2

In [3]:
prova[prova$strings == 'string',]

  strings numbers
4 string  4

In [4]:
typeof(prova$strings)

[1] "integer"

In [5]:
class(prova$strings)

[1] "factor"

In [6]:
# Setting stringsAsFactors to false does not solve this problem!

prova <- data.frame(
    strings = c('1', '2', '3', 'string'),
    numbers = c(1, 2, 3, 4),
    stringsAsFactors = FALSE
)

prova[prova$strings == 2,]
typeof(prova$strings)
class(prova$strings)

  strings numbers
2 2       2

[1] "character"

[1] "character"

#### And this also works (amazing!):

In [7]:
prova[prova$numbers > '2',]

typeof(prova$numbers)
class(prova$numbers)

  strings numbers
3 3       3
4 string  4

[1] "double"

[1] "numeric"

#### You can index columns using abbreviations:

In [16]:
data <- data.frame(
    RT_sec = rgamma(10, 1, 1),
    participant = 1
                  )
head(data)

  RT_sec    participant
1 1.8257873 1
2 1.7941582 1
3 0.4874501 1
4 1.5136410 1
5 0.2750580 1
6 0.2621123 1

In [17]:
data$RT_

 [1] 1.8257873 1.7941582 0.4874501 1.5136410 0.2750580 0.2621123 1.7866275
 [8] 1.7584429 0.6431736 0.4514541

In [18]:
# Beware column names:

data$RT <- data$RT*2 

data$RT_msec <- data$RT/100

head(data)

  RT_sec    participant RT        RT_msec
1 1.8257873 1           3.6515746 0.036515746
2 1.7941582 1           3.5883164 0.035883164
3 0.4874501 1           0.9749002 0.009749002
4 1.5136410 1           3.0272819 0.030272819
5 0.2750580 1           0.5501160 0.005501160
6 0.2621123 1           0.5242245 0.005242245

#### You can index stuff that does not exist without an error:

In [19]:
data[0, 'RT_sec']

numeric(0)

In [20]:
data[20, 'RT_sec']

[1] NA

#### Variable names after the dollar sign can be also quoted:

In [21]:
data[data$'RT' > 2.5,]

  RT_sec   participant RT       RT_msec
1 1.825787 1           3.651575 0.03651575
2 1.794158 1           3.588316 0.03588316
4 1.513641 1           3.027282 0.03027282
7 1.786628 1           3.573255 0.03573255
8 1.758443 1           3.516886 0.03516886

In [22]:
data[data$RT > 2,]

  RT_sec   participant RT       RT_msec
1 1.825787 1           3.651575 0.03651575
2 1.794158 1           3.588316 0.03588316
4 1.513641 1           3.027282 0.03027282
7 1.786628 1           3.573255 0.03573255
8 1.758443 1           3.516886 0.03516886

In [23]:
#### I am repeating myself, but:
data[data$'RT' > '2.5',]

  RT_sec   participant RT       RT_msec
1 1.825787 1           3.651575 0.03651575
2 1.794158 1           3.588316 0.03588316
4 1.513641 1           3.027282 0.03027282
7 1.786628 1           3.573255 0.03573255
8 1.758443 1           3.516886 0.03516886